source 'https://rubygems.org'

gem 'rails', '4.0.4'
gem 'authlogic'
gem 'cancancan', '~> 1.7'
gem 'jquery-rails'
gem 'jbuilder', '~> 1.2'
gem 'pg'
gem 'simple-navigation'
gem 'simple-navigation-bootstrap'
gem 'globalize', '~> 4.0.1'
gem 'globalize-accessors'
gem "seedbank"
gem 'bcrypt'
gem 'scrypt'
gem 'workflow'
gem 'will_paginate-bootstrap'
gem 'airbrake'
gem "resque"
gem 'resque-web', require: 'resque_web'
gem 'resque_mailer'
gem "capistrano-resque", github: "sshingler/capistrano-resque", require: false
gem 'whenever', :require => false
gem 'prawn'
gem 'prawn-table', '~> 0.2.1'
gem 'axlsx', '~> 2.0.1'
gem 'zip-zip'
gem 'dalli'
gem 'pg_search'
gem 'puma'
gem 'promise'
gem "interactor"
gem "spreadsheet"
gem "creek"

group :production do
    gem 'rack-ssl-enforcer', :git => "https://github.com/tobmatth/rack-ssl-enforcer.git"
end

# Uncomment engines which you want to enable
#gem 'diamond', '~> 0.0.1', :path => '../diamond'
#gem 'graphite', '~> 0.0.1', :path => '../graphite'
#gem 'pyrite', '~> 1.0.0', :path => '../pyrite'

gem 'uglifier', '>= 1.3.0'
gem 'therubyracer', :platforms => :ruby
gem "sass-rails", ">= 4.0.3"
gem "bootstrap-sass", '~> 3.2.0'

group :development do
  gem 'hirb'
  gem 'wirble'
  gem 'interactive_editor'
  gem "better_errors"
  gem "binding_of_caller"
  gem 'capistrano', '~> 3.2.0'
  gem 'capistrano-rvm', github: 'capistrano/rvm'
  gem 'capistrano-bundler', github: 'capistrano/bundler'
  gem 'capistrano-rails', '~> 1.1.0'
  gem 'capistrano3-puma', github: "seuros/capistrano-puma"
  gem "thin"
  gem "byebug"
  gem 'sprockets_better_errors'
  gem 'resque-backtrace', require: false
end
