//= depend_on_asset "logo.png"
//= depend_on_asset "button_reload.png"
//= depend_on_asset "icons/icons_sprite_white.png"
//= depend_on_asset "icons/icons_sprite_navy.png"
//= depend_on_asset "icons/icons_sprite_red.png"
//= depend_on_asset "icons/icon_email_sprite.png"
//= depend_on_asset "button_red_small.png"
//= depend_on_asset "button_navy_small.png"
//= depend_on_asset "checkbox_special.png"

@import "variables.css.scss";
@import "custom_functions.css.scss";

body {
  background-color: $background;
  p { font-size: 13px; }
}
h4 {
  font-size: 18px;
  margin-top: 2px;
}
h5 {
  font-size: 14px;
  line-height: 1.3;
}
h4, h5 {
  a:link, a:hover, a:visited { color: $dark_blue; }
}
hr { border-top: 1px solid $grey2; }
label { font-size: 0.9em; font-weight: normal; padding-left: .8em; }
button, a {
  i {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
  }
}
a {
  text-align: center;
  i {
    vertical-align: middle;
  }

}
table {
  font-size: 13px;
}
.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tbody > tr > td,
.table > tfoot > tr > th, .table > tfoot > tr > td {
  border-bottom: 1px solid #DDD;
  border-top: none;
}

.alert {
  margin-left: -1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.navbar {
  background-color: $red;
  border-radius: 0;
  border-bottom: 2px solid $red2;

  .navbar-nav {
    position: relative;
    bottom: -1px;
  }

  a, a:hover, a:focus { color: #fff; }
  li > a:hover { background-color: $red; color: darken(#fff, 10%); }
  li.active { border-bottom: 3px solid $dark_blue; }
  li.open {
    a:focus, a:hover, a:visited { background-color: $red; }
  }
  i { display: inline-block; margin-right: 4px; }
}
.navbar > .container .navbar-brand { background: image-url("logo.png") left bottom no-repeat; width: 160px; position: relative; bottom: -3px; margin-bottom: 3px; }

.main_container {
  a { text-decoration: none; color: $red; padding-bottom: 0.1em; }
  a:link { border-bottom: 1px $red dotted; }
  a:hover { border-bottom: 1px $red solid; }
  h4 {
    a:link, a:hover {
    border-bottom-color: $dark_blue; }
  }
  a.button-small { border-bottom: none; }
  .navy-link {
    &:link, &:hover, &:visited { color: $dark_blue; }
    &:hover { border-bottom: 1px solid $dark_blue; }
  }
}

.sep {
  color: $grey5;
}
.breadcrumbs-box {
  margin: 8em 0 2em 1.5em;
  span.sep {
    margin: 0 8px;
    color: $grey3;
    font-weight: bold;
    font-size: 20px;
    font-family: 'clear_sansbold';
  }
}
.top-menu, .section-header, .subsection-header {
  a:link, a:hover, a:visited { text-decoration: none; border: none; color: $dark_blue; }
  a:hover { color: $dark_blue2 }
}
.top-menu {
  height: 3em;
  background-color: $grey1;
  border-bottom: 0.2em solid $grey2;
  width: 100%;
  a:link, a:hover, a:visited {
    line-height: 42px;
    padding: 0 1.2em;
    font-size: 13px;
    font-family: 'clear_sansregular';
  }
  span.sep {
    font-family: 'clear_sansregular';
    font-weight: normal;
    font-size: 14px;
  }
  .context-nav {
    list-style-type: none;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
    a {
      padding-left: 0;
    }
    .dropdown-menu {
      padding: 5px;
      a {
        background: none;
        &:hover { color: $dark_blue2; }
      }
    }
  }
}
.filter-menu {
  background-color: $dark_blue;
  min-height: 100px;
  padding: 1.5em;
  color: #fff;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  .form-group { margin-bottom: 0; }
  .col-md-3 { @include make-md-column-18(3); }
  .form-control { height: 40px; color: #000; }
  .filter-action { padding-top: 26px; }
  .refresh-btn {
    background: image-url("button_reload.png") left top no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
  }
  .refresh-btn:hover { background-position: 0 -40px; }
}
.content {
  background-color: #fff;
  padding: 1.5em;

  button.inline-btn {
    background: none;
    border: 1px solid $grey2;
    font-size: 13px;
    font-family: 'clear_sansregular';
    padding: 0.5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &:hover { border-color: $dark_blue; }
  }

  .content-heading {
    margin-bottom: 2em;
    form {
      display: inline-block;
    }
  }
  .content-footnote {
    a {
      font-family: 'clear_sansbold';
    }
    .paginator {
      text-align: center;
    }
    .pagination {
      margin: 0;
      li {
        span, a {
          border: 1px solid $grey1;
          padding: 4px 10px;
          margin: 0 5px;
          font-family: 'clear_sansbold';
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }

      }
      li.disabled, li.prev, li.next { display: none; }

    }
  }
}

.has-error .form-control {
  border-color: $red;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: $red;
}
.form-control {
  -moz-box-shadow:    none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &:hover, &:focus {
    -moz-box-shadow:    none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &:focus { color: #000; }
}
.form-control::-moz-placeholder {
  color: inherit;
}
.form-control:-ms-input-placeholder {
  color: inherit;
}
.form-control::-webkit-input-placeholder {
  color: inherit;
}
.inline-form {  }
.force-visible  {
  background-color: #fff !important;
  color: $grey3;
}

.btn { text-transform: uppercase; padding: 8px 1.7em; height: 40px; }
.btn-primary {
  border: none;
  border-bottom: 2px solid $dark_blue;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "clear_sansbold";
  .active, &:hover, &:active, &:focus {
    background-color: $dark_blue2;
  }
}
.btn-danger {
  border: none;
  border-bottom: 2px solid $red2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: "clear_sansbold";
  .active, &:hover, &:active, &:focus {
    background-color: $light_red;
  }
}

.selectable-btn {
  @extend .btn;
  width: 100%;
  background-color: $grey1;
  border:none;
  border-bottom: 2px solid $grey2;
  padding: 4px inherit;
  text-transform: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0.4em;
}
.selectable-btn-hover {
  @extend .selectable-btn;
  background-color: $red;
  border-bottom-color: $red2;
}
.text-list { color: $grey4; }
.extra-margin { margin: 2em 0; }
.no-margin { margin: 0; }
.margin-large-top { margin-top: $margin-large-size; }

.section {
  margin-bottom: 3em;
}
.section-header, .subsection-header, .section-footer {
  h5, h4 { margin: 0; margin-bottom: .3em;}
  hr { margin: 0 0 1.8em 0; border-width: 2px; border-bottom: 1px solid $grey3; }
}
.section-header {
  margin-top: 10px;
  a {
    line-height: 2;
    font-size: 13px;
  }
}

.section-menu {
  h4 {
    font-size: 16px;
    line-height: 32px;
    a {
      color: $red;
      &:hover {
        border-bottom-color: $red;
      }
    }
    .dropdown {
      display: inline-block;
      ul {
        padding: 8px;
        width: 200px;
      }
      .dropdown-menu > li > a {
        display: inline;
        padding: 0;
        background: none;
        &:hover { color: $red; }
      }
    }
  }
}
.subsection-header {
  h4 {
    font-size: 14px;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $grey3;
    margin: 0 0 1.8em 0;
  }
  a:link, a:hover, a:visited { padding: 0; font-size: 13px; border-bottom: none; }
  hr { margin: 0; border-width: 0; border-bottom-width: 1px; margin-bottom: 0.3em;  }
}
.subsection, .section {
  margin: 1em auto 1.5em auto;
}
.section {
  margin-bottom: 3em;
}
h4.section-title { border-bottom: 1px solid $grey3; padding-bottom: .4em; margin-bottom: 1.5em; }


.icon {
  width: 14px;
  height: 14px;
}
.inline-icon:before {
  @extend .icon;
  display: inline-block;
  content: ' ';
  margin: 0 5px 0 0;
  position: relative;
  left: 0;
  top: 3px;
}
.icon-white { background: image-url("icons/icons_sprite_white.png") no-repeat; }
.icon-navy { background: image-url("icons/icons_sprite_navy.png") no-repeat; }
.icon-red, .inline-icon-red:before { background: image-url("icons/icons_sprite_red.png") no-repeat; }
.icon-elective-blocks, .inline-icon-elective-blocks:before { background-position: -3px -4px;  }
.icon-thesis-list, .inline-icon-thesis-list:before { background-position: -23px -4px;  }
.icon-manage, .inline-icon-manage:before { background-position: -43px -4px;  }
.icon-user { background-position: -63px -4px;  }
.icon-left-arrow, .inline-icon-left-arrow:before { background-position: -3px -24px;  }
.icon-callendar { background-position: -23px -24px;  }
.icon-plus, .inline-icon-plus:before { background-position: -43px -24px;  }
.icon-accept { background-position: -63px -24px;  }
.icon-right-arrow { background-position: -3px -43px;  }
.icon-checkbox-accept { background-position: -23px -43px;  }
.icon-export, .inline-icon-export:before { background-position: -23px -63px;  }
.icon-pen { background-position: -43px -43px;  }
.icon-delete { background-position: -63px -43px;  }
.icon-email {
  width: 15px;
  height: 10px;
  border: none;
  background: image-url("icons/icon_email_sprite.png") 0 0 no-repeat;
  display: inline-block;
}
.icon-email-visited {
  background-position: 0px -10px;
}

.button-small {
  width: 30px;
  height: 30px;
  border: none;

  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
a.button-small {
  line-height: 30px;
}
.button-small-red {
  background: image-url("button_red_small.png") repeat-x left top;
  &:hover { background-position: 0 -30px; }
  &:active { background-position: 0 -60px; }
}
.button-small-navy {
  @extend .button-small-red;
  background: image-url("button_navy_small.png") repeat-x left top;
}
.button-small-checkbox {
  background: image-url("checkbox_special.png") no-repeat -30px 0;

}
.button-small-checkbox-selected { background-position: 0 0;  }

.modal-dialog-centering {
  padding-top: 15%;
}
.modal-header-no-border {
  border: none;
}
.modal-footer {
  .btn:active, .btn.active { box-shadow: none; }
}
.tooltip {
  .tooltip-inner {
    border: 2px solid $grey1;
    padding: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: $grey1;
}
.theses-list {
  h4 {
    margin-top: 0;
    line-height: 1.4;
  }
  .label-wrapper {
    margin-top: 4px;
    .label { width: 28px; font-family: "clear_sansbold"; display: block; padding: 0.4em 0; }
  }
}

#page-loader {
  position: fixed;
  background-color: #fff;
  z-index: 10000;
  width: 2000px;
  height: 2000px;
  top: 0;
  left: 0;
}

#page-loader p {
  position: fixed;
  text-align: center;
}

.alert-form {
  padding: 5px;
  margin-left: 0;
}
.alert-danger {
  color: #fff;
}
.nav-tabs {
  border: none;
  border-bottom: 1px solid $dark-blue;
  a, a:link {
    font-size: 16px;
    border-bottom: none;
  }
}
.tab-content {
  table > tbody > tr > td {
    padding: 15px 0;
  }
}