<div id="modal-dialog-confirmation" style="display: none;">
  <p style="padding: 1em;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
    <%=t :notice_confirmation_cancel %>
  </p>
</div>
<div id="modal-dialog-confirmation-destroy" style="display: none;">
  <p style="padding: 1em;">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
    <%=t :notice_confirmation_destroy %>
  </p>
</div>